<div class="row top_head">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <div class="image_box">
          <!-- <div *ngIf="capturedImage">
                <img [src]="capturedImage" width="100%" height="150px" />
                </div> -->
          <!-- <div class="mt-4" *ngIf="capturedImage">
          <h5>Captured Image Preview</h5>
          <div class="frame">
          </div>
          </div> -->
        <div class="col-lg-6">
  <img *ngIf="visitor?.capturedImage" [src]="visitor.capturedImage" 
       alt="Visitor Image" width="135px" height="150px" />
</div>
      </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
        
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3">
      </div>
        <h3>Visitor Information</h3>
        <br><br>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label><b>Identification No. :</b></mat-label>
              <input matInput name="idenno" [value]="visitor.identificationNo">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label><b>Visitor Name :</b></mat-label>
              <input matInput name="visname" [value]="visitor.visitorName">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Gender</mat-label>
            <!-- <input matInput name="visname" [value]="visitor.visitorName"> -->
            <input matInput name="Gender" [value]="visitor.gender">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>Document Type :</mat-label>
              <input matInput name="Document" [value]="visitor.documentType">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Date</mat-label>
            <input matInput name="visitingDateAndTime" [(ngModel)]="visitor.visitingDateAndTime">
            <!-- <input matInput [matDatepicker]="picker" [(ngModel)]="visitor.visitingDateAndTime" name="visitingDateAndTime">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker> -->
            <!-- <input matInput [matDatepicker]="picker"> -->
            <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
            <!-- <mat-datepicker #picker></mat-datepicker> -->
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>License Number :</mat-label>
              <input matInput name="License" [value]="visitor.licenseNumber">
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
        <h3>Visitor Address</h3>
        <br><br>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label> Address :</mat-label>
              <input matInput name="add" [value]="visitor.address">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label> Town :</mat-label>
              <input matInput name="town" [value]="visitor.town">
            </mat-form-field>
          </div>
        </div>

         <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label> Postcode :</mat-label>
              <input matInput name="postcode" [value]="visitor.postcode">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label> State :</mat-label>
              <input matInput name="state" [value]="visitor.state">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label> Country :</mat-label>
              <input matInput name="country" [value]="visitor.country">
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
        <h3>Other Details</h3>
        <br><br>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>Mobile No. :</mat-label>
              <input matInput name="phoneNo" [value]="visitor.telephoneNo">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>Vehicle No. :</mat-label>
              <input matInput name="veh" [value]="visitor.vehicleNumber">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Vehicle Type</mat-label>
            <input matInput name="Vihical type" [value]="visitor.vehicleType">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Visitor Category</mat-label>
            <!-- <mat-select [value]="visitor.visitorCategory">
                <mat-option value="option1">Contractor</mat-option>
                <mat-option value="option2">Dealer </mat-option>
            </mat-select> -->
            <input matInput name="visitor cat" [value]="visitor.visitorCategory">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Company</mat-label>
            <input matInput name="company" [value]="visitor.company">
            <!--<mat-select [value]="visitor.company">
                 <mat-option value="option1">F & N</mat-option>
                <mat-option value="option2">L & T </mat-option> 
            </mat-select>-->
            </mat-form-field>
          </div>
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>Pre-Registered Pass No. :</mat-label>
              <input matInput name="preRegPassNo" [value]="visitor.preRegPassNo">
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
        <h3>Visit Details</h3>
        <br><br>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>No. of Visitors :</mat-label>
              <input matInput name="noOfVisitors" [value]="visitor.noOfVisitors">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Purpose of Visit :</mat-label>
            <!-- <mat-select name="purposeOfVisit" [value]="visitor.purposeOfVisit"> -->
              <input matInput name="purposeOfVisit" [value]="visitor.purposeOfVisit">
                <!-- <mat-option value="option1">Party</mat-option>
                <mat-option value="option2">Meeting</mat-option> -->
            <!-- </mat-select> -->
            </mat-form-field>
          </div>
        </div>
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>To Meet (Host) :</mat-label>
            <input matInput name="toMeet" [value]="visitor.toMeet">
                
            
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <mat-form-field class="w-100 custom-legacy area_text" appearance="legacy">
          <mat-label>Host Information</mat-label>
          <textarea matInput [value]="visitor.hostInfo"></textarea>
          </mat-form-field>
          </div>
        </div>

         <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Department Name :</mat-label>
           <input matInput name="department" [value]="visitor.deptName">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <mat-form-field class="w-100 custom-legacy area_text" appearance="legacy">
          <mat-label>Location Information</mat-label>
          <textarea matInput name="location" [value]="visitor.locationDepartment"></textarea>
          </mat-form-field>
          </div>
        </div>
         <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Unit No. :</mat-label>
              <input matInput name="unitNo" [value]="visitor.unitNo">
            <!-- <mat-select [value]="visitor.unitNo"> -->
              
            <!-- </mat-select> -->
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <mat-form-field class="w-100 custom-legacy" appearance="legacy">
          <mat-label>Permit No. :</mat-label>
          <input matInput name="permitNo" [value]="visitor.permitNo">
          </mat-form-field>
          </div>
          </div>

          <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Delivery Order :</mat-label>
            <input matInput name="delivery" [value]="visitor.deliveryOrder">
            </mat-form-field> -->
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <mat-form-field class="w-100 custom-legacy area_text" appearance="legacy">
          <mat-label>Remarks :</mat-label>
          <textarea matInput [value]="visitor.remarks"></textarea>
          </mat-form-field>
          </div>
        </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <div class="row">
        <h3>Additional Information</h3>
        <br><br> 
        <div class="radio_shadow">
        <label id="example-radio-group-label">Fever</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [value]="visitor.fever">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Sore Throat</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [value]="visitor.soreThroat">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Dry Cough</label>
        <br>  
        <mat-radio-group [(ngModel)]="visitor.dryCough" name="dryCough">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Runny Nose</label>
        <br>  
        <mat-radio-group [value]="visitor.runnyNose">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Shortness of Breath</label>
        <br>  
        <mat-radio-group  [value]="visitor.shortnessOfBreath">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Body Ache</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [value]="visitor.bodyAche">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Travelled Overseas Last (14 days)</label>
        <br>  
        <mat-radio-group [value]="visitor.travelledOverseas">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Contact with Person with Covid-19</label>
        <br>  
        <mat-radio-group [value]="visitor.contactWithCovid">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Recovered from Covid-19</label>
        <br>  
        <mat-radio-group [value]="visitor.recoveredFromCovid">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Covid-19 Test Done</label>
        <br>  
        <mat-radio-group [value]="visitor.covidTestDone">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        </div>
        
        </div>
