<div class="row top_head">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <div class="image_box">
      </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <div class="raised-btn-component">
      <button mat-raised-button color="primary" class="big-btn-with-icon-padding form_btn" (click)="startCamera()" [disabled]="isCameraOn">
        Take Picture
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button color="success" class="big-btn-with-icon-padding form_btn">
        DOCUMENT
      </button>
      &nbsp;&nbsp;
      <button mat-icon-button color="primary">
      <mat-icon class="sear_icon">search</mat-icon>
      </button>
    </div>
      </div>

        <h3>Visitor Information</h3>
        <br><br>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label><b>Identification No. :</b></mat-label>
              <input matInput [(ngModel)]="visitor.identificationNo" name="idenno">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label><b>Visitor Name :</b></mat-label>
              <input matInput [(ngModel)]="visitor.visitorName" name="visname">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="visitor.gender" name="gender">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female </mat-option>
                <mat-option value="Other">Other</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>Document Type :</mat-label>
              <input matInput [(ngModel)]="visitor.documentType">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>License Number :</mat-label>
              <input matInput [(ngModel)]="visitor.licenseNumber" >
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
        <h3>Visitor Address</h3>
        <br><br>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label> Address :</mat-label>
              <input matInput [(ngModel)]="visitor.address" name="idenno">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label> Town :</mat-label>
              <input matInput [(ngModel)]="visitor.town" name="visname">
            </mat-form-field>
          </div>
        </div>

         <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label> Postcode :</mat-label>
              <input matInput [(ngModel)]="visitor.postcode" name="idenno">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label> State :</mat-label>
              <input matInput [(ngModel)]="visitor.state" name="visname">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label> Country :</mat-label>
              <!-- <input matInput value="India" name="visname"> -->
               <input matInput [(ngModel)]="visitor.country" value="India" name="country">
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
        <h3>Other Details</h3>
        <br><br>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>Mobile No. :</mat-label>
              <input matInput [(ngModel)]="visitor.telephoneNo" name="idenno">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>Vehicle No. :</mat-label>
              <input matInput [(ngModel)]="visitor.vehicleNumber" name="visname">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Vehicle Type</mat-label>
            <mat-select [(ngModel)]="visitor.vehicleType" name="vehicleType">
                <mat-option value="Motor Bike">Motor Bike</mat-option>
                <mat-option value="Car">Car</mat-option>
                <mat-option value="Truck">Truck</mat-option>
                <mat-option value="VAN">VAN</mat-option>
                <mat-option value="Hand Cart">Hand Cart</mat-option>
                <mat-option value="Other">Other</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Visitor Category</mat-label>
            <mat-select [(ngModel)]="visitor.visitorCategory" name="visitorCategory">
                <mat-option value="Contractor">Contractor</mat-option>
                <mat-option value="Dealer">Dealer</mat-option>
                <mat-option value="Labour">Labour</mat-option>
                <mat-option value="Individual">Individual </mat-option>
                <mat-option value="Employee/staf">Employee/staff </mat-option>
                <mat-option value="Company Official">Company Official </mat-option>
                <mat-option value="Managment Grou">Managment Group </mat-option>
                <mat-option value="Other">Other</mat-option>

            </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label><b>Company Name :</b></mat-label>
              <input matInput [(ngModel)]="visitor.company" name="company">
            </mat-form-field>
          </div>
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>Pre-Registered Pass No. :</mat-label>
              <input matInput name="visname">
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
        <h3>Visit Details</h3>
        <br><br>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label>No. of Visitors :</mat-label>
              <input matInput [(ngModel)]="visitor.noOfVisitors" name="noOfVisitors">
            </mat-form-field>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Purpose of Visit :</mat-label>
            <mat-select [(ngModel)]="visitor.purposeOfVisit" name="purposeOfVisit">
                <mat-option value="Meeting">Meeting</mat-option>
                <mat-option value="Official">Official</mat-option>
                <mat-option value="Personal">Personal</mat-option>
                <mat-option value="Other">Other</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label><b>To Meet (Host) :</b></mat-label>
              <input matInput [(ngModel)]="visitor.toMeet" name="toMeet">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <mat-form-field class="w-100 custom-legacy area_text" appearance="legacy">
          <mat-label>Host Information</mat-label>
          <textarea matInput [(ngModel)]="visitor.hostName"></textarea>
          </mat-form-field>
          </div>
        </div>

         <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field class="w-100 custom-legacy" appearance="legacy">
              <mat-label><b>Department Name :</b></mat-label>
              <input matInput [(ngModel)]="visitor.deptName" name="department">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <mat-form-field class="w-100 custom-legacy area_text" appearance="legacy">
          <mat-label>Location Information</mat-label>
          <textarea matInput></textarea>
          </mat-form-field>
          </div>
        </div>
         <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Unit No. :</mat-label>
            <mat-select [(ngModel)]="visitor.unitNo">
                <mat-option value="C-2">C-2</mat-option>
                <mat-option value="C-3">C-3</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <mat-form-field class="w-100 custom-legacy" appearance="legacy">
          <mat-label>Permit No. :</mat-label>
          <input matInput [(ngModel)]="visitor.permitNo" name="permitNo">
          </mat-form-field>
          </div>
          </div>

          <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-form-field appearance="legacy" class="w-100 custom-legacy">
            <mat-label>Delivery Order :</mat-label>
            <input matInput [(ngModel)]="visitor.deliveryOrder" name="deliveryOrder">
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <mat-form-field class="w-100 custom-legacy area_text" appearance="legacy">
          <mat-label>Remarks :</mat-label>
          <textarea matInput [(ngModel)]="visitor.remarks" name="remarks"></textarea>
          </mat-form-field>
          </div>
        </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <div class="row">
        <h3>Additional Information</h3>
        <br><br> 
        <div class="radio_shadow">
        <label id="example-radio-group-label">Fever</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="visitor.fever">
        <mat-radio-button value=true>Yes</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Sore Throat</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="visitor.soreThroat">
        <mat-radio-button value=true>Yes</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Dry Cough</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="visitor.dryCough">
        <mat-radio-button value=true>Yes</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Runny Nose</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="visitor.runnyNose">
        <mat-radio-button value=true>Yes</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Shortness of Breath</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="visitor.shortnessOfBreath">
        <mat-radio-button value=true>Yes</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Body Ache</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="visitor.bodyAche">
        <mat-radio-button value=true>Yes</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Travelled Overseas Last (14 days)</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="visitor.travelledOverseas">
        <mat-radio-button value=true>Yes</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Contact with Person with Covid-19</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="visitor.contactWithCovid">
        <mat-radio-button value=true>Yes</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Recovered from Covid-19</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="visitor.recoveredFromCovid">
        <mat-radio-button value=true>Yes</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <div class="radio_shadow">
        <label id="example-radio-group-label">Covid-19 Test Done</label>
        <br>  
        <mat-radio-group aria-label="Select an option" [(ngModel)]="visitor.covidTestDone">
        <mat-radio-button value=true>Yes</mat-radio-button>
        <mat-radio-button value=false>No</mat-radio-button>
        </mat-radio-group>
        
        </div>
        <br>
        <button class="visit_btn" (click)="onsubmit()">REGISTER VISITOR</button> 
        
  <!-- REGISTER VISITOR
</button> -->
        </div>
        </div>
